@import "bourbon/bourbon";
@import "susy";
@import "normalize/import-now";
@import "./_fonts";

$susy: (
  columns: 6,
  gutters: .25,
  container: 360px,
  global-box-sizing: border-box
);

@mixin font-matter {
  text-transform: capitalize;
  text-overflow: ellipsis;
  word-wrap: normal;
  word-break: normal;
  color: #555;
}

@mixin user-name {
  color: #386cbb;
  font-weight: 700;
}

@mixin item-background {
  border: 1px solid #ccc;
  margin: 6px 2px 6px 2px;
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

*, *:before, *:after {
  box-sizing: border-box;
}

body{
  font-family: Arimo,"Helvetica Neue",Helvetica,Arial,Verdana,"Trebuchet MS";
  font-size: 1.5em;
  min-width: 360.25px;
  font-size: .9em;
  line-height: 1.5em;
  color: #333;
  min-height: 520px;
  background-color: #e3e3e3;
  word-break: break-word;
}

a {
  color: #386cbb;
  text-decoration: none;
  &:visited {
    color: #386cbb;
  }
  &:hover {
    cursor: pointer; 
  }
}

img {
  margin: 3px;
  &.circle {
    border-radius: 50%;
  }
  &.profile {
    position: absolute;
    right: -1px;
    top: -1px;
    z-index: 5;
  }
}

.row {
  @include span(6);
}

.uppercase {
  text-transform: uppercase;
}

#header,#footer,#content { position:absolute; right:0;left:0}

#header{
  border: 0 0 1px 0 solid #eee;
	height:55px; top:0;
	background-color: #fff;
  display: inline-flex;
  ul {
    display: inline;
    list-style: none;
    &::before {
      display: table;
      content: " ";
    }
    &::after {
      clear: both;
    }
    li {
      margin: 10px;
      float: left;
      position: relative;
      display: block;
      top: -6px;    
    }
  }
}

#content{
  top:55px;
  bottom:27px;
  height: 433px;
  overflow: auto;
  @include container;
  /*overflow: hidden;  use this if don't want any window scrollbars and use an inner element for scrolling*/

  /* http://codepen.io/MathieuRichard/pen/HAgnm */
  &::-webkit-scrollbar {
    width: 7px;
  }
  
  &::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: 20px;
  }

  &::-webkit-scrollbar-track {
    background: #ddd;
    border-radius: 20px;
  }

  .msg {
    margin: 5px 0 5px 5px;
    border: 1px solid #dadada;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    .row {
      padding: 6px;
      background-color: #fff;
      .header {
        .sender {
          .pic {
            @include span(1);
          }
          .name {
            @include span(4);
            @include user-name();
          }
        }
      }
    }
  }

  .card-list {
    .item{
      width: 99%;
      display: table;
      @include item-background();
      .cell {
        display: table-cell;
        padding: 6px;
      }
      div.cell {
        width: 82%;
        vertical-align: top;
        line-height: normal;
      }
      .list-msg {
        margin: 6px 0;
      }
      .name {
        @include user-name();
        display: block;
      }
      span.single {
        width: 75%;
        vertical-align: middle;
        line-height: normal;
        @include font-matter();
      }
    }
  }

  .user {
    height: auto;
    min-height: 100%;
    font-size: .9em;
    margin: 25px 2px;
    @include item-background();
    text-align: center;
    span {
      display: block;
    }
    p {
      text-align: justify;
    }
    &.profile {
      padding: 6px 9px;
      .name {
        font-size: 1.5em;
        @include user-name();
      }
      .mugshot {
        max-width: 100%;
        border-radius: 50%;
        border: 1.5px solid #333;
      }

      ul {
        display: inline;
        list-style: none;
        &::before {
          display: table;
          content: " ";
        }
        &::after {
          clear: both;
        }
        li {
          display: inline;
          span {
            display: inline;
            vertical-align: super;
          }
          &:not(:first-child) {
            margin: 0 10px;
          }
        }
      }
    }
  }
}

.table {
  display: table;
  .table-row {
    display: table-row;
    .table-cell {
      text-align: left;
      word-break: normal;
      display: table-cell;
      text-overflow: ellipsis;
      &.right {
        width: 65%;
      }
    }
  } 
}

#footer{
	height:27px; top: 493px;
  border: 1px 0 0 0 solid #eee;
	background-color: #fff;
  a {
    width: 14.2%;
    float: left;
    color: #5e5e5e;
    text-align: center;
    &.active {
      color: #386cbb;
    }
    span {
      font-size: 2em;
      font-weight: 700;
      &.unread-count {
        @include transition(opacity .2s ease-out, transform .2s ease-out);
        background-color: #d1423b;
        color: #fff;
        border-radius: 50%;
        margin-left: 0;
        padding: 1px 2px 2px;
        font-size: 9px;
        position: absolute;
        top: -8px;
        right: -5px;
        min-width: 11px;
        min-height: 12px;
      }
    }
  }
}


