@import "bourbon/bourbon";
@import "susy";
@import "normalize/import-now";
@import "./_fonts";
@import "./_loading";

$susy: (
  columns: 6,
  gutters: .25,
  container: 360px,
  global-box-sizing: border-box
);

@mixin font-matter {
  text-transform: capitalize;
  text-overflow: ellipsis;
  word-wrap: normal;
  word-break: normal;
  color: #555;
}

@mixin user-name {
  color: #386cbb;
  font-weight: 700;
}

@mixin item-background {
  border: 1px solid #ccc;
  margin: 6px 2px 6px 2px;
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

*, *:before, *:after {
  box-sizing: border-box;
}

body{
  font-family: Arimo,"Helvetica Neue",Helvetica,Arial,Verdana,"Trebuchet MS";
  min-width: 360.25px;
  font-size: .9em;
  line-height: 1.5em;
  color: #333;
  min-height: 520px;
  background-color: #e3e3e3;
  word-break: break-word;
}

a {
  color: #386cbb;
  text-decoration: none;
  &:visited {
    color: #386cbb;
  }
  &:hover {
    cursor: pointer; 
  }
}

img {
  margin: 3px;
  &.circle {
    border-radius: 50%;
  }
  &.profile {
    position: absolute;
    right: -1px;
    top: -1px;
    z-index: 5;
  }
}

.hidden {
  display: none !important;
}

.previous-route {
  cursor: pointer;
  position: absolute;
  top: 18px;
  left: 8px;
  z-index: 5;
  color: #7b8eab;
  font-size: 1.5em;
}

.row {
  @include span(6);
}

.uppercase {
  text-transform: uppercase;
}

.vertical-dots {
  position: relative;
  width: 7px;
  height: 7px;
  background-color: #5e5e5e;
  border-radius: 50%;
  cursor: pointer;

  &:before, &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    background-color: inherit;
    border-radius: inherit;
  }

  &:before {
    top: 9px;
  }

  &:after {
    top: 18px;
  }
}

#header,#footer,#content { position:absolute; right:0;left:0}

#header{
  border: 0 0 1px 0 solid #eee;
	height:55px; top:0;
	background-color: #fff;
  text-align: center;
  padding-top: 14px;
  .page-name {
    color: #386cbb;
    margin: auto;
  }
  a {
    color: #5e5e5e;
    &.active {
      color: #386cbb;
    }
    span {
      font-size: 1.7em;
      font-weight: 700;
      padding: 0 5px;
      &.unread-count {
        @include transition(opacity .2s ease-out, transform .2s ease-out);
        background-color: #d1423b;
        color: #fff;
        border-radius: 50%;
        margin-left: 0;
        padding: 1px 2px 2px;
        font-size: 9px;
        position: absolute;
        top: -8px;
        right: -5px;
        min-width: 11px;
        min-height: 12px;
      }
    }
  }
}

#content{
  top:55px;
  bottom: 0;
  height: 460px;
  overflow: auto;
  @include container;
  /*overflow: hidden;  use this if don't want any window scrollbars and use an inner element for scrolling*/

  /* http://codepen.io/MathieuRichard/pen/HAgnm */
  &::-webkit-scrollbar {
    width: 7px;
  }
  
  &::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: 20px;
  }

  &::-webkit-scrollbar-track {
    background: #ddd;
    border-radius: 20px;
  }
  
  .vertical-dots {
    float: right;
    position: fixed;
    right: 14px;
  }

  .in-page-navs {
    float: right;
    position: fixed;
    right: 6px;
    padding-top: 10px;
    ul {
      background-clip: padding-box;
      border: 1px solid #ccc;
      border: 1px solid rgba(0,0,0,.15);
      border-radius: 4px;
      -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
      box-shadow: 0 6px 12px rgba(0,0,0,.175);
      list-style: none;
      margin-top: 28px;
      margin-right: 4px;
      padding: 5px;
      background-color: #fff;
      li:hover {
        text-decoration: underline;
        text-decoration-style: dashed;
      }
    }
  }

  .card-list {
    .item{
      width: 99%;
      padding: 6px;
      display: table;
      @include item-background();
      .item-row {
        display: table-row;
      }
      .item-row-group {
        display: table-row-group;
      }
      .cell {
        display: table-cell;
      }
      div.desc {
        width: 82%;
        vertical-align: top;
        img {
          float: left;
        }
      }
      .list-msg {
        margin: 6px 0;
      }
      .name {
        @include user-name();
        display: block;
      }
      span.single {
        width: 75%;
        vertical-align: middle;
        line-height: normal;
        @include font-matter();
      }
      .feed-content {
        display: table-cell;
        width: 100%;
      }
    }
  }

  .user {
    height: auto;
    min-height: 100%;
    font-size: .9em;
    margin: 25px 2px;
    @include item-background();
    text-align: center;
    span {
      display: block;
    }
    p {
      text-align: justify;
    }
    &.profile {
      padding: 6px 9px;
      .name {
        font-size: 1.5em;
        @include user-name();
      }
      .mugshot {
        max-width: 100%;
        border-radius: 50%;
        border: 1.5px solid #333;
      }

      ul {
        display: inline;
        list-style: none;
        &::before {
          display: table;
          content: " ";
        }
        &::after {
          clear: both;
        }
        li {
          display: inline;
          span {
            display: inline;
            vertical-align: super;
          }
          &:not(:first-child) {
            margin: 0 10px;
          }
        }
      }
    }
  }

  .about {
    height: auto;
    @include item-background();
    text-align: center;
    padding: 6px;
    p {
      text-align: justify;
      padding: 0 20px;
    }
  }
}

.table {
  display: table;
  .table-row {
    display: table-row;
    .table-cell {
      text-align: left;
      word-break: normal;
      display: table-cell;
      text-overflow: ellipsis;
      &.right {
        width: 65%;
      }
    }
  } 
}

#footer{
	height:27px; top: 493px;
  border: 1px 0 0 0 solid #eee;
	background-color: #fff;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: .2;
  z-index: 1050;
  display: none;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  display: block;
  background-color: #386cbb;
}

